@font-face {
	font-family: "quick";
	src: url('../fonts/quick.otf');
}
@font-face {
	font-family: 'nucleo';
	src: url('../fonts/nucleo.woff');
}
.back {
	height: 200px;
	background-color: #11cdef;
}

#kotak {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}